################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Product-Inventory/.vs/Product-Inventory/v16/Server/sqlite3
